

/* GENERAL */
 body{background: #2f2b28}
 h1, h2, h3, h4, h6 {color:#444444; font-family: 'Roboto Condensed', sans-serif; font-weight: 300;}
 /* h1, h2, h3, h4, h6 {color:#444444; font-family: 'Open Sans Condensed', sans-serif; font-weight: 300;} */
.container{opacity:0/*background: #fff; border:1px solid #ccc; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;border-top: 0;*/}
.barra-alertas{padding: 15px 25px 10px}
.barra-alertas .alert{
  color: #e0e0e0;
  background-color: #404040;
  border-color: #5a5a5a;}
.woocommerce-error {
  margin: 0;
  list-style: none;
  padding: 0;
  font-size: 0.9em;
}
.wrapper-site{
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  box-shadow: 0 0 18px #222;
  border-radius: 6px;
}
.wrapper-container{
  width:100%;
  max-width:1180px;
  margin: 0 auto;
  background-color: #151211;
  min-height: 500px;
  color: #fff
}
.loaded{
  opacity: 1 !important;
  -webkit-transition: opacity 200ms; /* Safari */
  transition: opacity 200ms;
}
.show-mobile{display: none}
.hidden{display: none;}
.firma-div a:hover{text-decoration: underline;}
.glyphicon-refresh-animate {
      -animation: spin .7s infinite linear;
      -webkit-animation: spin2 .7s infinite linear;
  }
  @-webkit-keyframes spin2 {
      from { -webkit-transform: rotate(0deg);}
      to { -webkit-transform: rotate(360deg);}
  }
  @keyframes spin {
      from { transform: scale(1) rotate(0deg);}
      to { transform: scale(1) rotate(360deg);}
  }

/* NAV */
.nav-pantalla{
  background-color:#291d15;
  background-image: url('./../img/cabezotePromoArtesanal.jpg');
  background-position: top right;
  background-repeat: no-repeat;
  /* border-bottom:1px solid #ddd; */
  width:100%;
  max-width:1180px;
  /* height: 200px; */
  margin: 0 auto;
  position: relative;
  /*position:relative;z-index:2;box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.10);*/
}
.onsale{
  display: none
}
.contenido-cabezote p{
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 2em;
  text-shadow: 1px 1px 3px #222;
  /* max-width: 600px; */
  line-height: 1em;
  margin: 0px auto 10px;
  /* text-align: center; */
}
.contenido-cabezote .titulo{
font-weight: 700;
font-size: 2.5em;
}
.contenido-cabezote span{
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 1.2em;
  text-shadow: 1px 1px 3px #222;
  /* max-width: 500px; */
  line-height: 1em;
  margin: 0px auto 10px;
  /* text-align: center; */
}
.contenido-cabezote{
  /* text-align: center; */
  padding: 120px 30px 30px;
  min-height: 350px;
  max-width: 700px;
}

.nav-internas{
  background-image: url('./../img/fondo-cabezote2.jpg');
}
.search-bar{
  color: #fff;
  background-color: rgba(255,255,255,0.2);
  padding: 7px 5px 10px 20px;
}
.nav-screen{width: 100%}
.logo-div{display: block; cursor: pointer; margin: 15px 10px 0 30px;}
.logo-div a img{width: 100px;}
#menu-hamburguesa{cursor: pointer;color: #fff;font-size: 1.5em;}
.topmenu-div{padding-top: 0px; display: inline-flex; float:right;}
.topmenu-div .menu{margin-top:12px;}
.topmenu-div ul{display: flex;list-style: none; margin-right: 10px}
.topmenu-div ul li{padding: 0 8px;}
.topmenu-div a{color:#fff; font-size: 1.2em; padding-left: 10px}
.topmenu-div a:hover{color:#fff}
.link-carrito{font-size: 1.8em !important}
.menu-button-div{display: none;}
.menu-movil{
  padding: 20px 20px;
  position: absolute;
  background: rgba(255,255,255,0.9);
  width: 100%;
  z-index: 2;
  display:none;
}
.menu-movil ul{list-style: none; padding: 0}
.menu-movil ul li{
  border-bottom: 1px solid #eee;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
}
.menu-movil ul li a{color: #444}
.close-menu{float:right; color:#444;}
.close-menu:hover{float:right; color:#aaa;}

  .btn-ciudad{
    text-align: right;
    margin-top: -20px;
    color:#fff
  }
  .btn-ciudad span{
    background: rgba(0,0,0,0.3);
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 0.8em
  }
  .btn-ciudad span svg{
    color: #ce1f1f;
}

.menu-buscar input{
  background-color: transparent;
  border: none;
  width: 100%;
  margin: 0 auto;
  font-size: 1.75em;
  color: #fff;
}
.menu-buscar .form-control:focus{
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #fff;
}

.menu-buscar{
  text-align: center;
  padding: 10px 20px;
  /* position: absolute; */
  /* background: rgba(255,255,255,0.5); */
  background-color: #27211f;
  width: 100%;
  z-index: 2;
  display:none;
  max-width: 1180px;
  margin: 0 auto;
  border-bottom: 2px solid #696969;
}
.menu-categoria{
  padding: 20px 20px;
  /* position: absolute; */
  background: rgba(255,255,255,0.9);
  width: 100%;
  z-index: 2;
  display:none;
  max-width: 1180px;
  margin: 0 auto;
}
.menu-categoria ul{list-style: none; padding: 0}
.menu-categoria ul li{
  border-bottom: 1px solid #eee;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
}
.menu-categoria ul li a{color: #444}
.close-menu-categoria{float:right; color:#444;}
.close-menu-categoria:hover{float:right; color:#aaa;}

.btn-categorias .btn{
  background: transparent;
  border: 0;
}
.btn-categorias .btn .dropdown-toggle{
  background: transparent;
  border: 0;
}

.show>.btn-secondary.dropdown-toggle{
  background: rgba(134,142,150,.5);
  border: 0;
}
.btn-secondary:focus {
      box-shadow: none;
}

 /* HEADER */
 .foto-cabezote{width:100%; height:auto; border:1px solid #ddd}

.search-bar select{
  background: none;
  border: 0;
  font-size: 1.3em;
  color: #fff;
  -webkit-appearance: none
}

.page-link {
    /* position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25; */
    color: #ffffff;
    background-color: #292523;
    border: 1px solid #615e5d;
}
.page-item .current {
  pointer-events: none !important;
  background: #d0d0d0 !important;
  color: #141211 !important;
    }
.page-link:hover, .page-link:focus {
  color: #141211 !important;
  background: #eee !important;
  border: 1px solid #615e5d;
}
 /* WOOCOMMERCE */
 .cart-contents:before {
    font-family:WooCommerce;
    content: "\e01d";
    font-size:28px;
    margin-top:10px;
    font-style:normal;
    font-weight:400;
    padding-right:5px;
    vertical-align: bottom;
  }
  .cart-contents:hover {
    text-decoration: none;
  }
  .cart-contents-count {
    color: #fff;
    background-color: #2ecc71;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
  }
  .quantity{display: inline-block;}
  input.qty{width: 70px; display: inline;}
  .attachment-shop_single{width:100%; height:auto;}
  .tab-content{padding: 30px 20px;min-height: 250px;}
  #rating{width: 200px}
  #comment{max-width: 550px}
  .products li{display: inline-block; width: 30%}
  .products li a img{width: 100%; height:auto}
  .woocommerce-loop-product__link h6{color:#444444; text-align: center;}
  .product .add_to_cart_button{display: none;}
  .woocommerce-loop-product__link:hover{color :#444444;}
  .woocommerce-product-gallery__image a img{width:100%; height:auto;}
  .imagen-full{width:100%;height:auto}
  .product-thumbnail a img{width: 100px; height:100px}
  .form-cupones{}
  .cart-collaterals h2{color:#fff }
  .cart-subtotal td{
      text-align: center;
  }
  .shipping td{
      text-align: center;
  }
  .order-total td{
      text-align: center;
  }
  .woocommerce-form-coupon-toggle{
    display: none
  }
  .woocommerce-breadcrumb{
    color: #ccc;
  }
  .woocommerce-input-wrapper{
    width: 100%
  }
  .woocommerce-billing-fields h3{
    color: #fff
  }
  .woocommerce-billing-fields{
    color: #fff
  }
  .page-title{
    color: #fff
  }
  #billing_company_field{
    display: none
  }
  #billing_country_field{
    display: none
  }
  #billing_postcode_field{
    display: none
  }
  #order_review_heading{
    display: none
  }
  .woocommerce-privacy-policy-text{
    color: #ccc
  }
  .woocommerce-checkout-review-order-table{
    display: none
  }
  .wc_payment_methods{
    display: none
  }

  .woocommerce-form__input-checkbox{margin-left: 10px}
  /* .woocommerce{padding: 30px 5%;} */
  :focus {
  outline: 0;
  }
  /* .price{font-weight: 600;font-size: 24px;color: #777;} */
  #image-variacion img:focus{outline: none}
  #image-variacion:focus{outline: none}
  .product-remove{vertical-align: middle !important}
  .product-remove a{color: red; font-size: 20px}
  .contenido-producto{padding-right: 0px; padding-left: 0px; text-align: center;}
  .contenido-producto h6{font-size:0.9em}
  .contenido-producto img{width: 250px; height: auto;}
  .contenido-producto p{color:#fff; margin-bottom: 4px}
  .contenido-producto h3{color:#fff; margin: 0}
  .contenido-producto a.button{display: none}

  .woocommerce-ordering{float: right;}
  .woocommerce-result-count{color: #bbb}
  .woocommerce-loop-product__title{text-align: center; color:#fff;margin:0}
  .woocommerce-product-details__short-description {padding-bottom: 20px}
  .woocommerce-product-details__short-description p{margin: 0}
  /* .contenedor-producto-loop{cursor: pointer;} */
  .contenedor-producto-loop:hover{background-color: #191919;}
  .cantidad-producto{
    width: 60px;
    background: none;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 2.5em;
    text-align: center;
  }
  .restar-cantidad-producto{
    background: none;
    border: none;
    cursor: pointer;
    color: #393939;
    padding: 0
    }
  .sumar-cantidad-producto{
    background: none;
    border: none;
    cursor: pointer;
    color: #393939;
    padding: 0
    }
    .restar-cantidad-producto:hover, .sumar-cantidad-producto:hover{
    color: #eee;
    }
    .restar-cantidad-producto:focus, .sumar-cantidad-producto:focus{
     outline: none !important;
    }

    .coupon{
      /* display: none */
    }
    .coupon .input-text{
      width:200px;
      margin: 0 0 7px;
    }
    .woocommerce-shipping-methods{
      list-style: none;
      padding: 0;
      margin: 0
    }

    .woocommerce-shipping-methods li label{
      margin: 0
    }
    .disabled{
      pointer-events: none;

    }
    .cart_item td{
      vertical-align: middle;
    }
    .woocommerce-shipping-destination, .woocommerce-shipping-calculator{
      display: none
    }
    .woocommerce-column--billing-address{
      display: none

    }
    .woocommerce-order, .shop_table .order_details{
      color: #ddd !important
    }
    .woocommerce-order-details h2{
      color: #fff
    }
    .woocommerce-thankyou-order-details{
      list-style: none;
      padding: 0
    }
    .woocommerce-customer-details h2{
      color: #fff
    }
    .woocommerce-thankyou-order-received{
      text-align: center;
      font-size: 1.6em;
      color:#fff
    }
    .woocommerce-ordering{
      display: none
    }


    .info-producto .product_title{
      color: #fff
    }
    .info-producto form button{
        margin-top: -4px;
    }
    .info-producto .price del{
      font-size: 0.9em;
      display: block;
      margin: 0;
    }
    .info-producto .price ins{
      color:#ccc;
      font-size: 2.2em;
      text-decoration: none;
      display: block;
      margin: 0;
    }


    /* SLICK */
    .slick-slide img{
      width: 250px;
      height: auto;
      display: inline-block;
    }
    .slick-slide {
      text-align: right;
 }
    .slick-slide .flip-card{
      display: contents;
 }





    /* FLIPCARD */
    /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
    .flip-card {
      background-color: transparent;
      width: 300px;
      height: 200px;
      /* border: 1px solid #f1f1f1; */
      perspective: 1000px; /* Remove this if you don't want the 3D effect */
      /* display: inline-block; */
    }

    /* This container is needed to position the front and back side */
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    /* .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    } */

    .flipiar{
      transform: rotateY(180deg);
    }
    .flipiar-off{
      transform: rotateY(0deg) !important;
    }

    /* Position the front and back side */
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
    }

    .flip-card-front img{
      /* width: 250px;
      max-width: 260px; */

    }

    .flip-card-front h4{
      color: #fff;
      margin: 0
     }

    .flip-card-front h3, .flip-card-back h3{
      color: #fff;
      /* color: #d8c976; */
      font-size: 1.4em;
    }
    .flip-card-front{
        cursor: pointer;
    }
  .flip-card-front:hover > img{
    width: 260px;
    -webkit-transition: width .3s; /* Safari */
    transition: width .3s;
  }
  .flip-card-front:hover > h4{
    text-decoration: underline;
 }

    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
      /* background-color: #bbb; */
      color: black;
    }

    /* Style the back side */
    .flip-card-back {
      /* background-color: #202020;
      color: #444; */
      transform: rotateY(180deg);
    }
    .flip-card-back p img{
      width: 150px;
      height: auto;
      display: inline-block;
    }

    .close-card{
      visibility:hidden;
      margin-right:10px;
      color:#712a2a !important;
      cursor: pointer;
      margin-right: 25px
    }

    .close-card:hover{
      color:#a73a3a !important
    }

    .destacados .slick-track{
      min-height: 450px;
    }

    .wrapper-destacados{
      padding: 30px 40px 0;
      margin: 0;
    }
    .wrapper-destacados h3{
      color: #868076;
      display: inline-block;
      margin: 0
    }
    .nav-destacados{
      display: inline-block;
    }
    .nav-destacados .next{
      color: #ccc;
      display: inline-block;
      cursor: pointer;
    }
    .nav-destacados .prev{
      color: #696969;
      display: inline-block;
      cursor: pointer;
    }

    .nav-destacados .prev:hover{
      color: #ccc;
    }
    .nav-destacados .next:hover{
      color: #fff;
    }

    .table-dark {
      background: transparent;
    }

    .product-thumbnail{
      width: 130px;
    }
    .flip-card-front .contenido{
      margin: 0;
      color: #fff;
    }
    .flip-card-front .tipo_cerveza{
      color: #868076;
      font-weight: 900;
      font-size: 1.1em;
      margin: 6px 0;
    }
    .flip-card-back .grado_alcohol{
      /* margin: 0; */
      color: #999;
    }
    .flip-card-front .fabricante{
      margin: 0;
      color: #ccc;
    }



    /* SIDENAV */
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(249,249,249,0.95);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        box-shadow: 0 0 18px #222;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #000;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #717171;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    .logo-sidenav{
      text-align: center;
    }
    .logo-sidenav img{
      width: 70px;
      margin-bottom: 10px
    }
    .logo-sidenav p{
      margin: 0
    }

    .redes-div a{
        display: inline-block;
        padding: 5px;
        color: #000;
    }
    .redes-div a:hover{
      color: #717171;
    }
    .link-sidenav{

    }
    .firma-footer{
      padding: 10px 0;
      text-align: center;
      color: #c3c1c0;
    }
    .firma-footer img{
      width: 45px
    }
    .firma-footer p{
      margin: 0;
      font-size: 0.8em;
}
    .firma-footer .redes-div a{
      color: #c3c1c0;
      font-size: 1.7em
}
    .firma-footer .redes-div a:hover{
      color: #fff
}


  @media (max-width: 991px) {
  .container-f{min-height: 620px}
  .comunidad-texto-div{margin-top:0px; margin-bottom:50px}
  .tienda-texto-div{margin-top:20px; margin-bottom:30px}
  .comunidad-div{margin-bottom:0px}
  .tienda-div{margin-bottom:0px}
  /* .flip-card {
      display: inline-block;
  } */

  }

  @media (max-width: 767px) {
    .contenido-cabezote p{
      font-size: 1.5em;
}
.contenido-cabezote{
  padding: 70px 30px 30px;
  min-height: 350px
}

    .product-thumbnail{
        display: none;
    }
    .wrapper-destacados{
      padding: 20px 20px 0;
      margin: 0;
    }
  .tienda-div-container{min-height: 900px; padding:60px 10% 30px; }
    .menu-button-div{
      display: inline-block;
      width: 29%;
      float: left;
      padding-top: 5px;
      padding-left: 5px;
    }
    .logo-div{
        display: inline-block;
        width: 43%;
        text-align: center;
         margin: 0;
      }
      .logo-div a img{width: 70px;}

    .topmenu-div{
      /* float:right;
      width: 19%;
      text-align: right; */
    }
    .topmenu-div .menu{display:none;}

    .hide-mobile{display: none}
    .show-mobile{display: inline-block}

    .wrapper-destacados h3{
      font-size: 1.3em;
    }

    .flip-card{
      max-width: 250px;
    }
    .contenido-producto img{
      width: 100%;
    }

   }

   .related.products {
   display: none;
   }

        /* TRASH */
 /*

        .container-t div{background: rgba(255,255,255,0.9); padding: 20px; display:inline-block}
        .container-t {text-align: center; }
        .container-p{
          padding: 50px 15% 50px;

        }
        .container-pico{
          width: 100%;
          margin: 0 auto;
          max-width: 1440px;
          min-height: 450px;
          padding: 80px 5% 0;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        .container-f{
          opacity:0;
          width: 100%;
          margin: 0 auto;
          max-width: 1440px;
          min-height: 700px;
          padding: 240px 5% 0;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }


        .tienda-div{}

        .link-carrito .badge{}

        .tienda-div-container{min-height: 580px;padding:60px 5% 30px; width: 100%; max-width: 1440px; background-image: url('<?php echo get_template_directory_uri() ?>/img/fondo-galeria-home.jpg'); background-repeat:no-repeat; background-position:bottom;}


        */
